body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
	text-align: center;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 2px 2px -2px rgba(255,255,255,1);
}

.title {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

button {
	color: white;
}

.nav-item {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #666666;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: #666666;
}

#audio-element {
	padding-top: 100px;
}

div {
	text-align: center;
}

#audio {
	padding-left: auto;
	padding-right: auto;
	width: 50%;
}

#songs {
	text-align: center;
}

.songtitle {
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
}

#canvas-small {
	padding-top: 10px;
}

.tracks {
	width: 500px;
}

#canvas {
	padding-left: auto;
	padding-right: auto;
	padding-top: 100px;
	margin-left: -15px;
    margin-bottom: 0;
    bottom: 0;
	position: absolute;
}

ul {
	padding-left: 0;
	padding-right: 0;
}
